.style_room {
  display: flex;
  width: 1200px;
  flex-direction: column;
  margin: auto;
  gap: 20px;
  margin-top: 50px;
  background-color: rgb(252, 252, 252);
  padding: 40px;
  border-radius: 10px;
}
.style3 {
  display: flex;
  width: 1200px;
  flex-direction: column;
  margin: auto;
  gap: 20px;
  margin-top: 50px;
  background-color: rgb(252, 252, 252);
  padding: 40px;
  border-radius: 10px;
}

.right-main {
  height: calc(100vh - 92px);
  overflow-y: auto;
}
