* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}
/* start admin */
.admin {
  .left {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    .xoay {
      animation: khoa 1s ease-in;
    }
    .xoayo {
      animation: viet 1s ease-in reverse;
    }

    .Li {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-top-right-radius: 20px 50%;
      border-bottom-right-radius: 20px 50%;
      &:hover {
        background-color: antiquewhite;
      }
      p {
        margin-left: 15px;
      }
      .dog {
        font-size: 8px;
        margin-left: 10px;
      }
      .nones {
        animation: drow 1s ease-in-out reverse;
      }
      .runs {
        animation: run 1s ease-in-out;
      }
    }
    h3 {
      margin-left: 10px;
    }
  }
  .right {
  }
}
/* end admin */

/* start admin */
@keyframes khoa {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes viet {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
/* end admin */
.pri {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white !important;
}
